<div class="sys_main_menu menu_can_size">
    <div class="sys_mm">
        <div class="sys_mm_cnt bx-def-margin-sec-leftright">
            <bx_injection:injection_top_menu_before />
            <table class="topMenu main_menus" cellpadding="0" cellspacing="0"  style="width:100%">
                <tr>
                __main_menu__
                </tr>
            </table>
            <bx_injection:injection_top_menu_after />       
            <div class="clear_both">&nbsp;</div>
        </div>
    </div>
</div>
<div class="sys_sub_menu" style="width:__main_div_width__;">
    <div class="sys_sm_cnt bx-def-margin-sec-leftright">
        <bx_injection:injection_sub_menu_before />
            __sub_menu__
        <bx_injection:injection_sub_menu_after /> 
    </div>
</div>
<style type="text/css">
.top_link {
  border-right: 1px solid !important;
  color: #fff !important;
  font-size: 15px;
  font-weight: normal !important;
  padding-bottom: 15px;
  padding-top: 9px;
  line-height:25px !important;
  height:17px !important;
  text-shadow:none !important;
}
div.thumbnail_block_icon {
  height: 45px !important;
  width: 45px !important;
}

.site_logo img {
	margin-top:15px;
	margin-left:8px;
}
.topMenu.main_menus tr *:last-child a {
  border-right: medium none !important;
}
table.topMenu td a span:hover {
  background-color: #00baff !important;
  height: auto !important;
  position: relative;
  vertical-align: middle;
}
table.topMenu td.top:hover a span.down, table.topMenu td.top:hover b span.down, table.topMenu td.top a:hover a span.down, table.topMenu td.top a:hover b span.down {
  background-color: transparent !important;
}
#tm_active {
  background-color: #000;
}
div.sys_cr_wrapper {
  background-color: #000;
}
.menu_can_size{ width:1136px; margin:auto;}
.sys-service-menu span a {
  color: #fff;
}
div.sys-service-menu-wrp {
  height: 60px;
  position: absolute;
  right: 0;
  top: 18px !important;
}
.sys_main_content {
  width: 1136px !important;
}
.bx-def-margin-sec-leftright {
  margin-left: 0px;
  margin-right: 0px;
}
div.sys-service-menu {
  float: left;
  line-height: 54px !important;
}
.bottom_links_block {
  border-right: 1px solid;
  color: #fff !important;
  padding-right: 10px;
}
div.sys_cr div.bottomCpr {
  color: #fff;
  float: right !important;
  font-weight: normal;
}
.sys_bc_wrapper.bx-def-margin-sec-leftright.bx-def-border {
  display: none;
}
.site_logo {
  float: left;
}

.search_btn > input {
  background-color: #5bc642 !important;
  border-radius: 3px;
  color: #fff;
  font-family: times new roman;
  font-weight: bold;
  padding: 7px 17px 7px 15px !important;
  cursor:pointer;
  font-family:HelveticaNeue,Helvetica,Arial,Verdana,sans-serif;
}
.search_btn{ float:right;}
.search_input {
  float: left;
  margin-top: 5px;
  width: 379px;
}
.sys_main_logo {
  background-color: #000 !important;
  margin: auto;
  min-height: 100px;
  padding-top: 0;
  position: relative;
  width: 1136px;
  z-index: 101;
}
.searcs_btn{
	background-image:url(../images/search_btn.png);
	height:32px;
	width:32px;
	}
.bx-def-margin-sec-left {
  margin-top: 6px;
}
div#sys_search {
  background-color: #fff;
  height: 23px;
  left: 363px;
  padding: 5px 0;
  position: absolute;
  top: 38px;
}
.learning {
  color: #fff;
  font-size: 22px;
  font-weight: normal;
  margin-top: 16px;
}
.search_btn > button {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: medium none;
  cursor: pointer;
  margin-top: -4px;
}

.bx-splash-txt-l {
  background-color: #000;
  color: #fff;
  font-size: 29px !important;
  margin-top: 35px;
  padding: 19px 28px 23px;
}
.bx-def-margin-top{ margin-top:0px !important;}
div#sys_search input {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  font-size: 12px;
  outline: medium none;
  width: 97% !important;
  margin-top:-2px;
}
.sys-service-menu.bx-def-margin-sec-left.bx-def-font-large a {
  background-color: #fac900;
  border-radius: 5px;
  color: #000;
  font-weight: bold;
  padding: 13px 24px;
}
.sys-service-menu.bx-def-margin-sec-left.bx-def-font-large :last-child a {
  background-color: #A7D147;
  border-radius: 5px;
  font-weight: bold;
  padding: 13px 24px;
   color:#000;
}
.service_links {
  float: left;
  padding-left: 12px;
}
.bx-def-padding-right {
  padding-right: 0 !important;
}
</style>